.finish{
   width: 100%;
   /* height: 75%; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.finish-wrap{
   width: 100%;
}
.finish-items{
   width: 100%;
   box-sizing: border-box;
   background-color: #f8f9fe;
   padding: 20px;
   margin-bottom: 30px;
}
.finish-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
}
.finish-header h5{
   font-family:"Ubuntu-Bold";
   margin-bottom: 7px;
}
.finish-price{
   font-family:"Ubuntu-Bold";
}
.finish-change{
   font-family:"Ubuntu-Bold";
   color:#babbbd;
   cursor: pointer;
   text-decoration: underline;
}
.finish-change:hover{
   font-family:"Ubuntu-Bold";
   color:#2650a3;
   text-decoration: none;
}
.underline{
   display: inline-block;
   width: 100%;
   border-bottom: 1px solid #e7e8ed;
   margin-bottom: 12px;
}
.finish-body{
   display: flex;
   justify-content: space-between;
   font-family:"Ubuntu-Regular";
   color:#babbbd;
   margin-bottom: 20px;
}

.finish-body:last-child{
   margin-bottom: 0;
}
.finish-total{
   box-sizing: border-box;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}
.finish-title{
   font-family:"Ubuntu-Regular";
   color:#babbbd;
}
.total{
   font-family:"Ubuntu-Bold";
   color:#453aff;
   font-size: 17px;
}
